body {
    background-color: #e8e8e8;
    color: #2d49a6;
}
ul {
    background-color: #3399ff;
    padding: 20px 0 20px 40px;    
}
ul li {
    background-color: #cce5ff;
    margin: 5px 0;
    color: #334d5c;
}
