body {
    background-color: #e8e8e8;
    color: #2d49a6;
}
.pontilhada{
    border-style: dotted;
}
.tracejada{
    border-style: dashed;
}
.solida{
    border-style: solid;
}
.dupla{
    border-style: double;
}
.ranhura{
    border-style: groove;
}
.cume{
    border-style: ridge;
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.largura_borda{
    border-width: 10px;
    border-style: solid;
    border-color: #ffd700;
}
.borda_mistas{
    border-width: 10px;
    border-style: solid;
    border-color: green yellow blue gray;
}
.borda_mistas_espessura{
    background-color: #ffd700;
    border-top: 15px solid #008000;
    border-right: 5px dashed #4b0082;
    border-bottom: 9px double #00ffff;
    border-left: 6px solid #ff0000;
}
.borda_arredondada{
    border: 2px solid #008000;
    border-radius: 10px;
}
.circulo {
    border: 5px solid #4b0082;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
}












